<div class="form">
  <h1 class="form-heading">Log In!</h1>
  <%= form_for @user, :url => url_for(:controller => 'sessions', :action => 'create') do |f| %>

    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>

    <%= f.label :username %>
    <%= f.text_field :username %>
    <br>
    <br>
    <%= f.label :password %>
    <%= f.text_field :password %>
    <br>
    <br>
    <%= f.submit "login" %>
  <% end %>
</div>
