<%= render 'partials/flash' %>

<div class="row">
  <div class="col-1">
    <h1><%= @cohort.name %></h1>
    <p><%= @cohort.description %></p>
    -------------------------------------
    <h3>Cohort Tasks</h3>
    <% @tasks.each do |t| %>
      <p><%= t.description %></p>
    <% end %>

    <%= link_to 'All Cohorts', cohorts_path, class: "btn" %>
  </div>

  <%= render 'partials/members', cohort: @cohort, members: @cohort.users %>

</div>
