<%= render 'partials/flash' %>

<div class="row">
  <div class="col-1">
    <h1><%= @cohort.name %></h1>
    <p><%= @cohort.description %></p>
    -------------------------------------
    <h3>Cohort Tasks</h3>
<%= render 'partials/table_tasks', tasks: @tasks.incomplete %>
  </div>

  <div class="col-2 form">
    <%= render 'partials/members', cohort: @cohort, members: @cohort.users %>
  </div>
</div>

<%= link_to 'All Cohorts', cohorts_path, class: "btn btn-right" %>

<h1>Completed Tasks</h1>
<%= render 'partials/table_tasks', tasks: @tasks.completed %>
