<%= render 'partials/flash' %>

<%= link_to 'Create Task', new_task_path, class: "btn btn-right" %>
<h1>Tasks</h1>

<% @tasks.each do |t| %>
  <h2><%= link_to t.description, task_path(t) %> | <%= t.cohort.name %></h2>
  <p>Priority: <%= t.priority %> | Due: <%= t.due %></p>
  <% t.users.each do |u| %>
    <%= u.full_name %>
  <% end %>
  <% if t.complete %>
    <p>COMPLETE</p>
  <% else %>
    <%= render 'partials/claim', task: t %>
  <% end %>
<% end %>
