<%= render 'partials/flash' %>

<h1>Tasks</h1>

<% @tasks.each do |t| %>
  <h2><%= link_to t.description, task_path(t) %> | <%= t.cohort.name %></h2>
  <p>Priority: <%= t.priority %> | Due: <%= t.due %></p>
  <% t.users.each do |u| %>
    <%= u.full_name %>
  <% end %>
  <%= render 'claim', task: t %>
<% end %>
