<%= render 'partials/flash' %>

<% if @task.complete %>
  <h3 class="done">COMPLETE</h3>
<% else %>
  <h3 class="due">Due <%= @task.due %></h3>
<% end %>

<h1><%= @task.description %></h1>

<div class="row">
  <div class="col-1">
    <h3>Cohort: <%= @task.cohort.name %></h3>
    <p>Priority: <%= @task.priority %> | Due: <%= @task.due %>
    <% if !@task.complete %>
      <%= render 'partials/claim', task: @task %>
      <%= render 'partials/complete', task: @task %>
    <% end %>
  </div>

  <div class="col-2 form">
    <h1 class="form-heading">Claimed By</h1>
    <% @task.users.each do |u| %>
      <p><%= link_to u.full_name, user_path(u) %></p>
    <% end %>
  </div>
</div>

<%= link_to 'All Tasks', tasks_path, class: "btn btn-right" %>
