<%= render 'partials/flash' %>

<div class="row">
  <div class="col-1">
    <h1><%= @user.full_name %> | <%= @user.cohort.name %></h1>
    <p class="info">Click on the description of a task to see more info about it, or mark as complete.</p>
    <h3><%= @user.first_name %>'s To-Do Tasks:</h3>
    <%= render 'partials/condensed_table_tasks', tasks: @user.tasks.incomplete %>
  </div>

  <div class="col-2 form">
    <%= render 'partials/members', cohort: @user.cohort, members: @user.cohort.users %>
  </div>
</div>

<% if session[:user_id] == @user.id || current_user.admin %>
  <%= link_to "Edit Profile", edit_user_path(@user), class: "btn btn-right" %>
  <%= link_to 'Delete Account', @user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-right" %>
<% else %>
  <%= link_to "All Users", users_path, class: "btn btn-right" %>
<% end %>

<br />
<br />

<h1>Completed Tasks</h1>
<%= render 'partials/table_tasks', tasks: @user.tasks.completed %>
