<%= render 'partials/flash' %>

<div class="row">
  <div class="col-1">
    <h1><%= @user.full_name %> | <%= @user.cohort.name %></h1>
    <h3><%= @user.first_name %>'s Tasks:</h3>
    <ul>
      <% @user.tasks.each do |t| %>
        <li><%= link_to t.description, task_path(t.id) %></li>
      <% end %>
    </ul>
    <br>
  </div>
  <%= render 'partials/members', cohort: @user.cohort, members: @user.cohort.users %>
</div>

<% if session[:user_id] == @user.id %>
  <%= link_to "Edit Profile", edit_user_path(@user), class: "btn btn-right" %>
  <%= link_to "Create Task", new_task_path, class: "btn btn-right" %>
<% end %>
