<!DOCTYPE html>
<html>
  <head>
    <title>Tasks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar">
      <div class="container">
        <% if session[:user_id] %>
          <a class="navbar-text" href="<%= root_path %>"/>Home</a>
          <a class="navbar-text" href="<%= cohorts_path %>"/>Cohorts</a>
          <a class="navbar-text" href="<%= users_path %>"/>Fellows</a>
          <a class="navbar-text" style="float:right" <%= link_to 'Log Out', logout_path, method: :delete %></a>
        <% else %>
          <a class="navbar-text" href="<%= login_path %>"/>Login</a>
          <a class="navbar-text" href="<%= new_user_path %>"/>Sign Up</a>
        <% end %>
      </div>
    </div>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
