<!DOCTYPE html>
<html>
  <head>
    <title>Tasks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="navbar">
      <% if current_user %>
        <a class="navbar-text" href="<%= root_path %>"/>My Profile</a>
        <% if current_user.admin == true %>
          <a class="navbar-text" href="<%= groups_path %>"/>Groups</a>
          <a class="navbar-text" href="<%= tasks_path %>"/>To-Do</a>
        <% else %>
          <a class="navbar-text" href="<%= group_tasks_path(current_user.group.id) %>"/>To-Do</a>
        <% end %>
        <a class="navbar-text" style="float:right" <%= link_to 'Log Out', logout_path, method: :delete %></a>
      <% else %>
        <a class="navbar-text" href="<%= login_path %>"/>Login</a>
        <a class="navbar-text" href="<%= new_user_path %>"/>Sign Up</a>
      <% end %>
    </div>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
